*.mmdb filter=lfs diff=lfs merge=lfs -text
GeoLite2-ASN.mmdb filter=lfs diff=lfs merge=lfs -text
GeoLite2-City.mmdb filter=lfs diff=lfs merge=lfs -text
GeoLite2-Country.mmdb filter=lfs diff=lfs merge=lfs -text
